$font-sans:'Work Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif:'Source Serif Pro', 'Times New Roman', serif;

@import 'normalize';
@import 'include-media';

$dark:#262730;
$blue:#20293B;
$light:#F2F2F2;
$lighter:#F7F6F5;
$red:#F0754D;
$pink:#ff6b6b;
$grey:#6A6A6B;
$light-grey:#A5A5A8;
$white:#FCFAFA;

$pale-peach:#F0BCAD;
$dark-peach:#A18881;
$peach:#ff8e6b;
$light-peach:#FCEBE6;

$breakpoints: (phone: 420px, nav-switch: 620px, tablet: 768px, desktop: 1200px);

// ============================== CORE ============================== //

body {
    font-family:$font-sans;
    background:$light;
    color:$blue;
    height:100%;
    width:100%;
    overflow:hidden;
    position:relative;

    zoom:1;
}

html {
    font-size: 18px;
    box-sizing: border-box;
    position:relative;
    display:block;
    height:100%;
    overflow:hidden;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 24px;
    }
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .HIDE-ME {
      display:none !important;
  }

  .center {
      text-align:center;
  }

  .left {
      float:left;
  }
  
  .right {
      float:right;
  }

  .cf:after {
    content: "";
    display: table;
    clear: both;
  }

  // ============================== PAGES ============================== //

.site-wrapper {
    overflow:visible;

    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

  .slide-wrapper {
      position:absolute;
      top:0px;
      bottom:0px;
      width:100%;
      left:0;
  }

  .slide-animation {
    transition:left 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  }

  .page {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    overflow-y:scroll;
  }

  .page-inner {
      position:relative;
      margin-top:60px;
      padding:10px;
      height:calc(100% - 60px);

      @include media(">tablet") {
        padding:25px;
      }
  }

  .page-intro {
    @extend .page;
    background:$light-peach;
}  
.page-about {
    @extend .page;
    background:$peach;
    left:100%;
}   
.page-portfolio {
    @extend .page;
    background:$light-peach;
    left:200%;
}    
.page-contact {
    @extend .page;
    left:300%;
    background:$peach;
}   


// ============================== LAYOUT ============================== //



.page-content {
    flex:1;
}

.wrapper {
    width:100%;
    

    

    @include media(">desktop") {
        width:1160px;
        margin-left:auto;
        margin-right:auto;
    }
}

.content {
    padding:20px 15px;

    @include media(">phone") {
        padding:30px 40px;
    }

    @include media(">desktop") {
        padding:40px 60px;
    }
}

.col-wrapper {
    display:block;
    margin-top:25px;

    @include media(">tablet") {
        display:flex;
        flex-direction:1;
    }
}

.col {
    flex-grow:1;

    @include media(">tablet") {

   
        &:first-child {
            padding-right:25px;
        }

        &:nth-child(2) {
            padding-left:25px;
        }
    }
}

.even-col {
    @extend .col;

    width:100%;

    @include media(">tablet") {
        width:50%;
    }
}

hr {
    margin-top:45px;
    color:$pale-peach;
}

// ============================== HEADER ============================== //

header {
    background:$white;
    z-index:3;
    
    width:100%;
    height:55px;

    position:relative;
    top:0;
    right:0;

    img {
        height:20px;
    }

    .wrapper {
        display:flex;
        align-items:center;
        flex-direction:row;
        
    }
}


.header-logo {

    width:60px;
    height:50px;
    display:flex;
    align-items:center;
    transition:background 0.3s ease-in-out;

    img {
        margin:0 auto;
    }

    &:hover {
        background:$light-peach;
    }
}

.logo-link {

    display:inline-block;
    width:60px;
    height:50px;
    display:flex;
    align-items:center;

    &:hover {
        border:0;
        cursor:pointer;
    }
}

.header-spacing {
    flex-grow:1;

    @include media(">nav-switch") {
        flex-grow:0;
    }
}



.progress-bar {
    height:10px;
    background:#F2BEAE;

    display:flex;

    @include media(">tablet") {
        height:10px;
    }
}

.progress-indicator {
    width:25%;
    height:10px;
    background:$pink;
    

    @include media(">tablet") {
        height:10px;
    }
}


// ============================== NAVIGATION ============================== //

.menu-icon-wrapper {

    width:50px;
    height:50px;
    display:flex;
    padding:18px 15px;

    @include media(">nav-switch") {
        display:none;
    }
    
    &:hover {
        cursor: pointer;
        background:$light-peach;

        .menu-icon-line {
            background:$red
        }
    }
}

.menu-icon {
    //background:$red;
    width:20px;
}


.menu-icon-line {
    height:2px;
    margin-bottom:3px;
    background:$pink;



    @include media(">phone") {
        
    }
}

.nav-wrapper {
    position:fixed;
    top:calc(-100%);
    right:0;
    width:auto;
    height:calc(100% - 60px);
    width:230px;
    background:rgba(245, 245, 245, 0.9);
    align-items:center;
    flex-direction:column;
    z-index:2;
    display:flex;
    transition:top 0.3s ease-in-out;


    &.menu-open {
        top:60px;
    }

    @include media(">nav-switch") {
        position:static;
        width:auto;
        flex-direction:row;
        background:$white;
        flex-grow:1;
    }


    ul {
        list-style-type:none;
        margin:0 auto;
        padding:0 0 30px 0;

        @include media(">nav-switch") {
            display:flex;
            padding:0;
        }
        
        li {
            
        }

        a {
            display:inline-block;
            padding:15px 30px;
            text-decoration:none;
            color:$pink;
            text-align:center;
            font-size:1.2rem;
            font-weight:600;

            @include media(">nav-switch") {
                height:50px;
                font-size:0.65rem;
                text-transform:uppercase;
                font-weight:400;
                transition:background 0.3s ease-in-out;

                &.current-link {
                    font-weight:600;
                }

                &:hover {
                    background:$light-peach;
                }
            }

            &:hover {
                color:$peach;
                cursor:pointer;
                border-bottom:0;
            }
        }
    }

}

.nav-inner {
    text-align:center;
    flex-grow:1;
    width:100%;
    display:flex;
    align-items:center;

    @include media(">nav-switch") {
        flex-grow:0;
    }
}

.header-links {
    display:flex;
    padding-bottom:15px;

    @include media(">nav-switch") {
        padding:0;
        margin:0 15px;
    }
}

.link-disc {
	width:30px;
	height:30px;
    margin-right:10px;
    border:3px solid $pink;
	border-radius:60px;
    background-repeat:no-repeat;
    transition:background-position 0.3s ease-in-out,
     border-color 0.3s ease-in-out,
     background-size 0.3s ease-in-out;
	&:hover {
		cursor:pointer;
        border-color:$peach;
        background-color:$light-peach;
	}

	&:last-child {
		margin-right:0;
	}
}

.github {
    background-image:url('../img/github-icon.png');
    background-position:-1px 4px;

    &:hover {
        background-position:center 2px;
    }
}

.linkedin {
	background-image:url('../img/linkedin-icon.png');
}

.email {
    background-image:url('../img/email-icon.png');
    background-size:80%;
    background-position:center center;

    &:hover {
        background-size:100%;
        //background-position:0px 4px;
    }
}

// ============================== INTRODUCTION ============================== //


.intro-main {
    font-size:1.4rem;
    font-family:$font-sans;
    color:$peach;
    margin-bottom:50px;
}

.intro-light {
    color:#ED9174;
}

.intro-lighter {
    color:#DB927B;
}

.intro-lightest {
    color:#C98F7D;
}

.touchHelper {
    color:#A18881;
    font-size:0.9rem;

}


// ============================== ABOUT ============================== //

.about-picture {
    margin-top:25px;
}

// ============================== PROJECTS ============================== //

.projects-wrapper {

    @include media(">tablet"){
        >.project-item:nth-child(even) {
            .project-info {
                order: 2;
            }
            .project-image {
                order:1;
                margin-right:50px;
            }
        }
    
        >.project-item:nth-child(odd) {
            .project-info {
                order: 1;
            }
            .project-image {
                order:2;
                margin-left:50px;
            }
        }
    }
    
    
}
.project-item {
    //margin-top:55px;
    //display:flex;
    margin-bottom:35px;

    @include media(">tablet") {
        display:flex;
        flex-grow:0;
    }

    
 .project-info {

     @include media(">tablet") {
         width:50%;
     }
 }
}
.project-options {
    margin-top:25px;
}



.project-image {
    border:3px solid $light;
    background:$white;
    width:100%;
    height:320px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.13);

    display:none;
    overflow:hidden;

    @include media(">tablet") {
        display:block;
        width:50%;
    }
}

.project-image-mobile {
    @extend .project-image;
    display:block;
    margin-left:0;
    margin-top:25px;
    

    @include media(">tablet") {
        display:none;
    }
}

.img {
    height:100%;
}

.img-center {
    margin-left: 50%;
    transform: translateX(-50%);
}

.project-date {
    font-size:0.8rem;
    font-weight:300;
}




.project-overlay-bg {
    position:fixed;
    background:rgba(0,0,0,0.7);
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5;
    padding:10px;
    transition:opacity 0.3s ease-in-out;
    opacity:1;

    @include media(">tablet") {
        padding:25px;
    }
}



.overlay-hidden {
    opacity:0;
    z-index:-1;
}



.project-overlay-wrapper {
    height:100%;
    overflow:auto;
    background:$light-peach;
    position:relative;
    padding:0 25px 25px 25px;
}

.project-overlay-close-wrapper {
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    z-index:6;
}

.project-overlay-close {
    width:50px;
    height:50px;
    // position:fixed;
    // top:10px;
    // right:calc(50% - 25px);
    float:right;
   
    margin:10px 28px 0 0;
    color:$light-peach;
    padding:10px 0 0 18px;
    background:$pink;
    transition:background-color 0.3s ease-in-out;
    z-index:6;

    @include media(">tablet") {
        margin:25px 43px 0 0;
    }

    @include media(">desktop") {
        margin-right:18px;
    }

    &:hover {
        background:$peach;
        cursor:pointer;
    }

    // @include media(">tablet") {
    //     top:15px;

    // }
}

.project-overlay-image {
    border:3px solid $light;
    background:$white;
    width:100%;
    height:320px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.13);
    overflow:hidden;
    margin-top:25px;

    @include media(">tablet") {

    }

    >img {
        height:100%;
        margin:0 auto;

        @include media(">tablet") {
            height:auto;
            width:100%;
        }
    }
}



// ============================== CONTACT ============================== //

footer {
    background:$white;
}

.contact-links {
    list-style-type:none;
    padding-left:0;
    display:flex;
    flex-wrap:wrap;

    li {
        flex-grow:0;
        margin:25px 25px 0 0;
    }
}

// ============================== TYPOGRAPHY ============================== //

.light {
    color:$light-peach;
}

.dark {
   color:$dark-peach; 
}

h1 {
    font-size:2rem;
    margin-top:15px;
    text-transform:uppercase;
    font-weight:600;
    margin-bottom:0;

    &:after {
        width:200px;
    }
}

h1:after {
    content:'';
    display:block;
    
    height:2px;
    background:$pale-peach;
    margin-top:25px;
}

h2 {
    font-weight:600;
    font-size:1.4rem;
    text-transform:uppercase;
    margin-bottom:0;
    margin-top:25px;

}

p {
    line-height:1.5em;
    font-size:0.9rem;
    margin-top:25px;
}

.main-paragraph {
    font-size:1rem;
}


a {
    color:$peach;
    text-decoration:none;
    padding-bottom:2px;


    &:hover {
        color:$pink;
        border-bottom:2px solid $peach;
    }
}

.block-link {
    background:$pink;
    padding:3px 5px;
    color:$light;
    
    &:hover {
        background:#FF4255;
        color:$light;
    }
}

ul.std-list {
    li {
        margin-bottom:8px;
        font-size:0.9rem;
    }
}

// ============================== FORMS ============================== //

form {
    margin-bottom:25px;
}
.form-field {
    padding:15px 0;
    
    input, textarea {
        width:100%;
        background:$peach;
        border:2px solid $light-peach;
        padding:8px 10px;
        color:$white;
        font-family:$font-sans;
        outline:0;
        //transition:box-shadow 0.2s ease-in-out;

        &::placeholder {
            color:#FCC4A2;
        }

        &:focus {
            border-color:$white;
            box-shadow: 0 0 10px rgba(255, 195, 176, 1);
        }
    }
}

.focus-marker {
    display:none;
}

.button-light {
    display:inline-block;
    background:$pink;
    //text-transform:uppercase;
    border:2px solid $light-peach;
    color:$white;
    padding:15px 45px;
    font-weight:600;
    transition:background-color 0.3s ease-in-out;

    &:hover {
        cursor:pointer;
        color:$white;
        background:$peach;
        border-bottom:2px solid $light-peach;
    }
}






