$font-sans:'Work Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif:'Source Serif Pro', 'Times New Roman', serif;

@import 'normalize';
@import 'include-media';

$dark:#262730;
$blue:#20293B;
$light:#F2F2F2;
$lighter:#F7F6F5;
$red:#F0754D;
$pink:#ff6b6b;
$grey:#6A6A6B;
$light-grey:#A5A5A8;
$white:#FCFAFA;

$dark-peach:#A18881;
$peach:#ff8e6b;
$light-peach:#FCEBE6;

$breakpoints: (phone: 420px, tablet: 768px, desktop: 1200px);

// ============================== CORE ============================== //

body {
    font-family:$font-sans;
    background:$light;
    color:$blue;
    height:100%;
    overflow-x:hidden;
    overflow-y:visible;
}

html {
    font-size: 18px;
    box-sizing: border-box;
    height:100%;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 24px;
    }
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .HIDE-ME {
      display:none;
  }

  .center {
      text-align:center;
  }

  // ============================== PAGES ============================== //

  .page-wrapper {
    z-index:1;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow-x:hidden;
  }

  .slide-wrapper {
      position:absolute;
      top:0;
      bottom:0;
      width:100%;

      left:-0;

      transition: left 0.3s ease-in-out;
  }

  .page {
    position:absolute;
    top:0;
    //bottom:0;
    width:100%;
    overflow-y:visible;
    
    height:100%;
  }

  .page-inner {
      margin-top:55px;
    padding:5%;
      height:calc(100% - 55px);
      overflow-y:scroll;
  }

  .page-intro {
    @extend .page;
    background:$light-peach;
}  
.page-about {
    @extend .page;
    background:$peach;
    left:100%;
}   
.page-portfolio {
    @extend .page;
    background:$light-peach;
    left:200%;
}    
.page-contact {
    @extend .page;
    left:300%;
    background:$peach;
}   


// ============================== LAYOUT ============================== //



.page-content {
    flex:1;
}

.wrapper {
    width:100%;
    

    

    @include media(">desktop") {
        width:1160px;
        margin:0 auto;
    }
}

.content {
    padding:20px 15px;

    @include media(">phone") {
        padding:30px 40px;
    }

    @include media(">desktop") {
        padding:40px 60px;
    }
}



// ============================== HEADER ============================== //

header {
    background:$white;
    z-index:3;
    
    width:100%;
    height:55px;

    position:fixed;
    top:0;

    img {
        height:20px;
    }

    .wrapper {
        display:flex;
        align-items:center;
        flex-direction:row;
        
    }
}


.header-logo {

    width:60px;
    height:50px;
    display:flex;
    align-items:center;

    img {
        margin:0 auto;
    }

    &:hover {
        background:$light-peach;
        cursor:pointer;
    }
}

.header-spacing {
    flex-grow:1;
}



.progress-bar {
    height:5px;
    background:#F2BEAE;

    display:flex;
}

.progress-indicator {
    width:25%;
    height:5px;
    background:$pink;
    transition:margin-left 0.3s ease-in-out;
}


// ============================== NAVIGATION ============================== //

.menu-icon-wrapper {

    width:50px;
    height:50px;
    display:flex;
    padding:18px 15px;
    
    &:hover {
        cursor: pointer;
        background:$light-peach;

        .menu-icon-line {
            background:$red
        }
    }
}

.menu-icon {
    //background:$red;
    width:20px;
}


.menu-icon-line {
    height:2px;
    margin-bottom:3px;
    background:$pink;



    @include media(">phone") {
        
    }
}

.nav-wrapper {
    position:fixed;
    top:calc(-100%);
    right:0;
    width:auto;
    height:calc(100% - 55px);
    width:230px;
    background:rgba(32, 41, 59, 0.9);
    align-items:center;
    flex-direction:column;
    z-index:2;
    display:flex;
    transition:top 0.3s ease-in-out;


    &.menu-open {
        top:55px;
    }


    ul {
        list-style-type:none;
        margin:0 auto;
        padding:0 0 30px 0;
        
        li {
            
        }

        a {
            display:inline-block;
            padding:15px 30px;
            text-decoration:none;
            color:$red;
            text-align:center;
            font-size:1.2rem;
            font-weight:600;

            &:hover {
                color:$light;
                cursor:pointer;
                border-bottom:0;
            }
        }
    }

}

.nav-inner {
    text-align:center;
    flex-grow:1;
    width:100%;
    display:flex;
    align-items:center;
}

.header-links {
    display:flex;
    padding-bottom:15px;
}

.link-disc {
    background-color:$pink;
	width:60px;
	height:60px;
	margin-right:10px;
	border-radius:60px;
	transition:background-color 0.3s ease-in-out;
    background-repeat:no-repeat;
    background-position:15px;
	&:hover {
		cursor:pointer;
		background-color:$light-peach;
	}

	&:last-child {
		margin-right:0;
	}
}

.github {
	background-image:url('../img/github-icon.png');
}

.linkedin {
	background-image:url('../img/linkedin-icon.png');
}

.email {
	background-image:url('../img/email-icon.png');
}

// ============================== INTRODUCTION ============================== //


.intro-main {
    font-size:1.4rem;
    font-family:$font-sans;
    color:$peach;
    margin-bottom:50px;
}

.intro-light {
    color:#ED9174;
}

.intro-lighter {
    color:#DB927B;
}

.intro-lightest {
    color:#C98F7D;
}

.touchHelper {
    color:#A18881;
    font-size:0.9rem;

}
// ============================== PROJECTS ============================== //

.project-list {
    list-style-type:none;
    padding-left:0;
    li {
        @extend .content;
        border-bottom:1px solid $light-grey;

        &:hover {
            background:$light-peach;
            cursor:pointer;
            border-color:$pink;
        }
    }
}

.project-item {
    display:flex;
    flex-wrap:wrap;
}

.project-source {
    flex-grow:0;
    order:3;
    flex-basis:100%;
    color:$grey;
    font-size:0.9rem;
    font-weight:300;
    margin-top:15px;

    @include media(">tablet") {
        order:2;
        flex-grow:1;
        flex-basis:auto;
        margin-top:0;
    }
}

.project-title {
    display:flex;
    color:$pink;
    order:1;
    flex-grow:1;

    @include media(">tablet") {
        order:1;
        width:50%;
        flex-grow:0;
        //flex-grow:0;
    }
}

.project-year {
    font-size:0.7rem;
    display:flex;
    order:2;
    width:100px;
    text-align:right;
    color:$grey;
    font-weight:300;

    flex-basis:100%;

    @include media(">phone") {
        flex-basis:auto;
    }

    @include media(">tablet") {
        order:3;
        
    }
}

.date-seperator {
    margin:0 5px;
}

// ============================== CONTACT ============================== //

footer {
    background:$white;
}

.contact-links {
    list-style-type:none;
    padding-left:0;
    display:flex;
    flex-wrap:wrap;

    li {
        flex-grow:0;
        margin:25px 25px 0 0;
    }
}

// ============================== TYPOGRAPHY ============================== //

.light {
    color:$light-peach;
}

.dark {
   color:$dark-peach; 
}

h1 {
    font-size:2rem;
    margin-top:15px;}

h2 {
    color:$grey;
    font-weight:400;
    font-size:1.4rem;
    text-align:center;
}

h2::after {
    content:'';
    height:20px;
    width:100px;
    background:url(../img/spacer.png);
    display:block;
    margin:25px auto;
}

p {
    line-height:1.5em;
}

.main-paragraph {
    font-size:1.1rem;
}


a {
    color:$peach;
    text-decoration:none;
    padding-bottom:2px;


    &:hover {
        color:$pink;
        border-bottom:2px solid $peach;
    }
}

.block-link {
    background:$pink;
    padding:3px 5px;
    color:$light;
    
    &:hover {
        background:#FF4255;
        color:$light;
    }
}











